.city-index-container {
  // border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 8%;
}

.city-detail-container {
  // border: 3px solid blue;
  margin: 25px;

  .city-detail-image-container {
    position: relative;
    display: inline-block;
    text-align: center;
    background: grey;
    // margin: 0px 0px;

    h1 {
      // border: 3px solid green;
      position: absolute;
      top: 45%;
      right: 0;
      left: 0;
      color: white;
      font-family: 'Source Sans Pro';
      font-size: 37px;
      font-weight: bold;
      z-index: 1;
    }

    h1:hover {
      // text-decoration: underline;
      text-shadow: 0 0 30px #007E90;
      text-weight: bold;
      color: white;
      cursor: pointer;

    }

    img {
      // border: 3px solid orange;
      width: 420px;
      height: 245px;
      cursor: pointer;
      position: relative;
      opacity: 0.5;
    }

    img:hover {
      opacity: 1.0;
      // opacity: 0.7;
      // filter: alpha(opacity=70);

    }

  }

}



.city-index-header p {
  font-family: 'Source Sans Pro';
  color: #007E90;
  font-size: 35px;
  margin: 85px 0px;
  text-align: center;
}
