.city-index-container {
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 25px;
}

.city-detail-container {
  // border: 3px solid blue;
  margin: 12px;

  .city-detail-image-container {
    position: relative;
    margin: 0px 0px;

    h1 {
      // border: 3px solid green;
      position: absolute;
      top: 50%;
      left: 50%;
      color: white;
      font-family: 'Source Sans Pro';
      font-size: 28px;
      font-weight: bold;
    }

    img {
      // border: 3px solid orange;
      width: 420px;
      height: 245px;
      cursor: pointer;
    }
  }
}



.city-index-header p {
  font-family: 'Source Sans Pro';
  color: #007E90;
  font-size: 35px;
  margin: 85px 0px;
  text-align: center;
}
