.dashboard-index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  margin: 33px 0;
}
.dashboard-main-container {
  font-family: 'Quicksand', sans-serif;
  text-align: center;


  .dashboard-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 2% 5%;
    // font-size: 30px;


    .dashboard-eventlist {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      // align-items: center;
      justify-content: center;
    }


    .dashboard-message-bobasaur {
      margin: 5px 0;

      h1 {
        margin-bottom: 50px;
        font-size: 30px;
        font-family: 'Quicksand', sans-serif;
        color: #75b3b3;
      }

      img {
        display: inline-block;
        width: 315px;
        height: 315px;
        // width: 40%;
        // height: 50%;
        margin: 34px 0;
      }
    }
  }

  .dashboard-event-card {
    border: 2px solid grey;
    width: 260px;
    height: 245px;
    margin: 30px;
    background: ghostwhite;
    color: gray;
    padding: 20px;
    box-shadow: 0 4px 9px rgba(0,0,0,.4);
    font-size: 20px;
  }

  .dashboard-events-header {
    // text-transform: uppercase;
    font-size: 50px;
    margin-top: 33px;
    color: grey;

    h1 {
      font-family: 'Delius Swash Caps';
    }
  }

  .dashboard-navbar {
    text-align: left;
    font-size: 22px;
    background: #84a1c1;
    height: 68px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .dashboard-navbar-left {
      display: flex;

      a {
        cursor: pointer;
        border-radius: 7px;
        padding: 8px 8px;
        margin: 0;
        margin-left: 29px;
        // text-transform: uppercase;
      }
    }

    .dashboard-navbar-left a:hover {
      background: #91999A;
      padding: 8px 8px;

    }

    .dashboard-navbar-right {
      display: flex;
      margin-right: 29px;
      align-items: center;

      h3 {
        font-size: 22px;
        display: flex;
        margin-left: 13px;
      }

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 3px solid white;
      }

      span {
        margin: 0 3px;
      }
    }
  }
}
