.event-index-main-container {
  // border: 2px solid blue;
  color: white;
  font-size: 30px;
  font-family: 'Source Sans Pro'
}

.event-index-cover {
  // border: 2px solid yellow;
  width: 100%;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: grey;

  // display: flex;
  // align-items: center;
  // flex-wrap: wrap;

  h1 {
    position: absolute;
    left: 0;
    top: 40%;
    right: 0;
    z-index: 1;
    font-size: 60px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .event-cover-img {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    justify-content: center;
  }

  img {
    opacity: 0.5;
  }

}


.event-index-container {
  // border: 2px solid green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 18px;
  margin: 33px 0;
}

.event-index {
  border: 2px solid grey;
  margin: 40px;
  padding: 20px;
  width: 347px;
  height: 330px;
  background: ghostwhite;
  color: gray;
  box-shadow: 0 4px 9px rgba(0,0,0,.4);
  border-radius: 20px;

  .event-index-card {
    // display: flex;
    flex-direction: column;

    .event-index-top {
      display: flex;
      flex-direction: row;

      .event-index-datetime {
        border: 4px solid #90aebd;
        border-radius: 7px;
        text-align: center;
        font-size: 20px;
        width: 81%;
        height: auto;

        .date {
          font-size: 22px
        }

        .time {
          font-size: 16px

        }
      }

      .event-index-profile {
        width: 50%;
        height: auto;
        position: relative;

        // .event-index-profile-container {
        //   display: flex;
        //   flex-direction: column;
        //   border: 2px solid grey;

          h2 {
            font-size: 15px;
            margin: 0 0;
            position: absolute;
            left: 27px;
            bottom: 27px;

          }

          img {
            display: block;
            width: 89%;
            height: auto;
            left: 16px;
            bottom: 18px;
            position: absolute;
            padding: 9px 9px 36px;
            border-radius: 7px;
            border: 2px solid grey;
            background: ghostwhite;
          }
        // }

      }

    }

    li {
      margin: 10px 0;
    }

    .event-index-bottom {
      .event-index-main-title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;

      }


      .event-index-seats {
      }

      .join-unjoin-button {
        border: 1px solid grey;
        padding: 5px 87px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        background: green;
        border-radius: 7px;
        background: #90aebd;
        color: white;

        button {
          text-align: center;
        }
      }
      .join-unjoin-button:hover {
        background: none;
        color: grey;
        border: 3px solid grey;

      }
    }
  }
}

.event-index-header {
  text-align: center;
  padding: 80px 0;
  background: #003C32;
  // background: #0E5146;
  // color: #355161 darkblue;
}

.event-nav-links {
  display: flex;
  align-items: center;;
  justify-content: space-between;;
  flex-direction: row;
  margin: 30px 30px;
  font-size: 15px;
  text-transform: uppercase;

  a {
    border: 1px solid gray;
    padding: 10px 8px;
    background: #91999A;
    cursor: pointer;
    border-radius: 7px;
    opacity: 0.8;
    filter: alpha(opacity=50)
  }

  a:hover {
    opacity: 1.0;
    filter: alpha(opacity=100)

  }
}

.dashboard-title {
  font-size: 22px;
}

.dashboard-seats {
  font-size: 15px;
}
