.event-index-main-container {
  border: 2px solid blue;
}

.event-index-cover {
  border: 2px solid yellow;
  // width: 100%;
  // height: 250px;
}


.event-index-container {
  border: 2px solid green;
}

.event-index {
  border: 2px solid red;
}

.event-title, .event-address {

}

.event-index-header {
  color: #007E90;
  font-size: 30px;
  font-family: 'Source Sans Pro';
  text-align: center;
  margin: 100px;
}

.event-nav-links {
  display: flex;
  align-items: center;;
  justify-content: space-between;;
  flex-direction: row;
  margin: 15px 30px;
}
