.footer {
  // position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer-main-container {
  background: #75B3B3;
  font-family: 'Source Sans Pro';
  padding: 40px;
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;


  .footer-side-links {
    display: flex;
    flex-direction: column;
    flex: 1;

    h3 {
      font-size: 25px;
      font-weight: bold;
      padding: 5px;
      margin: 0;
    }

  }

  .footer-about-text {
    font-size: 20px;
    flex: 3;
    // margin-top: 8px;

  }
}
