.home-container {
  display: flex;
  align-items: center;
}

.home-container-links {
  margin: 50% 30%;
  padding: 10px 10px;
  border: 2px solid grey;
  border-radius: 7px;
  background: #707171;
  color: white;
  text-align: center;

}

#body {
  background-color: blue;
}

#root {
  height: 100vh;
  width: auto;
  background: #CCF2F2;
}
