// .home-main-container {
  // display: flex;

  // img {
  //   width: 100%;
  //   height: 25%;
  // }

  .home-container-links {
    // overflow: hidden;
    background: #CCF2F2;
    font-family: arial;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 50%;
    font-family: 'Source Sans Pro';

    // display: flex;
    // align-items: center;
    // justify-content: center;
    .floating-container {
      position: absolute;
      left: 0;
      right: 0;
      top: 25%;
      margin-left: auto;
      margin-right: auto;
      width: 800px;

      .floating-header {
        margin: 0 0 45px 0;
        color: white;

        h1 {
          font-size: 40px;
          margin: 5px 0;
        }

        h2 {
          font-size: 20px;
        }
      }

      .floating-button {
        border: 1px solid grey;
        border-radius: 7px;
        background: #91999A;
        opacity: 0.8;
        filter: alpha(opacity=70);
        padding: 10px 30px;
        color: white;
        font-size: 25px;
      }

      .floating-button:hover {
        opacity: 1.0;
        filter: alpha(opacity=100);
        // color: white;
        text-align: center;
      }
    }


    img {
      // -webkit-filter: grayscale(100%);
    	// filter: grayscale(100%);
    	-webkit-transition: .3s ease-in-out;
    	transition: .3s ease-in-out;
      opacity: 0.6;
    }
    img:hover {
      // -webkit-filter: grayscale(0);
    	// filter: grayscale(0);
      opacity: 0.9;
    }

  }
// }
