// .home-main-container {
  // display: flex;

  // img {
  //   width: 100%;
  //   height: 25%;
  // }

  .home-container-links {
    overflow: hidden;
    // background: #CCF2F2;
    background: rgb(37, 230, 255);
    font-family: arial;
    position: relative;
    // display: inline-block;
    text-align: center;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 100%;
    height: 50%;
    // height: 600px;
    font-family: 'Source Sans Pro';
    // display: block;

    // .home-container-links img {
    //   // overflow: hidden;
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    // }

    .home-img {
      width: 100%;
      height: auto;
      // display: flex;
      // align-items: center;
      // background-size: cover;
      // background-position: center;
      // justify-content: center;
    }


    // display: flex;
    // align-items: center;
    // justify-content: center;
    .floating-container {
      position: absolute;
      left: 0;
      right: 0;
      top: 17%;
      margin-left: auto;
      margin-right: auto;
      width: 100%;

      .floating-header {
        margin: 0 0 45px 0;
        color: white;

        h1 {
          font-size: 60px;
          margin: 12px 0;
        }

        h2 {
          font-size: 20px;
        }
      }

      .floating-button {
        border: 1px solid grey;
        border-radius: 7px;
        background: #b53d34;
        opacity: 0.8;
        filter: alpha(opacity=70);
        padding: 10px 30px;
        color: white;
        font-size: 25px;
      }

      .floating-button:hover {
        opacity: 1.0;
        filter: alpha(opacity=100);
        // color: white;
        text-align: center;
      }
    }


    img {
      // -webkit-filter: grayscale(100%);
    	// filter: grayscale(100%);
    	-webkit-transition: .3s ease-in-out;
    	transition: .3s ease-in-out;
      // opacity: 0.7;
      opacity: 0.9;
      // overflow: hidden;
      // height: 400px;
      // overflow: hidden;
      // position: relative;
      // width: 100%;
      // height: 600px;
      // display: flex;
      // align-items: center;
      // background-size: cover;
      // background-position: center;
      // justify-content: center;
    }
    img:hover {
      // -webkit-filter: grayscale(0);
    	// filter: grayscale(0);
      opacity: 0.9;
    }

  }
// }
