.navbar-header , #a {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  background-color: #75B3B3;
  font: arial;
}
// #a {
//   font: arial;
// }

.navbar-main-right, .navbar-main-left {
  display: flex;
  align-items: center;
}

.login-button {
  display: flex;
  margin: 5px 12px;
  color: white
}

.navbar-main-left {
  margin: 5px 12px;
  color: white
}
