.navbar-header {
  padding: 12px 34px;
  display: flex;
  justify-content: space-between;
  background-color: #75B3B3;
  font-family: 'Source Sans Pro';
  align-items: center;
}

.navbar-main-right, .navbar-main-left, .nav {
  display: flex;
  align-content: center;
}

.navbar-logo {
  background: none;
  width: 51px;
  height: auto;
}


.log-button {
  display: flex;
  margin: 4px 9px;
  color: white;
  cursor: pointer;
  background: none;
  padding: 10px 8px;
  font-size: 21px;
  text-transform: uppercase;
  flex-direction: row;
}

.log-button:hover {
  padding: 10px 8px;
  border-radius: 7px;
  background: #91999A;
}

// 707171, #5A6465
.navbar-main-left {
  display: flex;
  align-items: center;
  margin: auto 12px;
  padding: 3px 3px;
}

.hamburger-dropdown {
  display: none;
}

@media screen and (max-width: 850px) {
  .nav {
    display: none;
  }

  .hamburger-dropdown {
    display: flex;
  }

  .ham-link {
    display: flex;
    background: url('http://res.cloudinary.com/beebeean09/image/upload/v1494389705/whiteham_shbvjd.png');
    background-repeat: no-repeat;
    background-size: 70px 47px;;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: #8a8a8a;
  }

  .ham-link-content {
    display: none;
    position: absolute;
    top: 48px;
    right: 0;
    flex-direction: column;
    cursor: pointer;
    box-shadow: #676767 2px 2px 10px;;
    background: #f6ffff;
    border-radius: 3px;
  }

  .ham-link:hover .ham-link-content {
    display: block;
  }

  .log-button-drop:hover {
    background: #9dabac;
    color: white;
  }

  .log-button-drop {
    // display: block;
    padding: 10px 25px;
    font-size: 21px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
  }
}
