.navbar-header {
  padding: 9px 34px;
  display: flex;
  justify-content: space-between;
  background-color: #75B3B3;
  font-family: 'Source Sans Pro';
}

.navbar-main-right, .navbar-main-left {
  display: flex;
  align-content: center;
}

.navbar-logo {
  background: none;
  width: 51px;
  height: auto;
}


.log-button {
  display: flex;
  margin: 4px 9px;
  color: white;
  cursor: pointer;
  background: none;
  padding: 10px 8px;
  font-size: 21px;
}

.log-button:hover {
  padding: 10px 8px;
  border-radius: 7px;
  background: #91999A;
}

// 707171, #5A6465
.navbar-main-left {
  display: flex;
  align-items: center;
  margin: auto 12px;
  padding: 3px 3px;
}
