.new-event-form-main {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 80px 150px;
  font-family: 'Source Sans Pro';
  font-size: 25px;
  color: #007E90;
  font-weight: bold;
  height: 500px;
}

.new-event-form-header {
  // margin-bottom: 32px;
  text-align: center;

  h1, h2 {
    margin: 30px;
    font-size: 34px;
  }
  h2 {
    font-size: 20px;
    color: black;
  }
}

.new-event-form {
  display: flex;
  justify-content: center;

  // .date {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   border: 5px solid red;
  // }
  // .rdtPicker {
  //   display: block;
  //   align-items: center;
  // }


  label, form {
    display: flex;
    flex-direction: column;
    align-content: center;
    // margin: 20px;

    input {
      border: 1px solid black;
      border-radius: 7px;
      text-align: center;
      background: ghostwhite;
      font-size: 18px;
      width: 414px;
      height: 43px;
      margin: 20px 0;
      color: grey;
    }
}
  .datetime-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .datetime {
      color: grey;
      width: 195px;
      height: 52px;
      display: flex;

    }
  }

  .new-event-submit-button {
    // text-align: center;
    display: flex;
    justify-content: center;
    border: 2px solid grey;
    color: white;
    background: #91999A;
    padding: 0 100px;
    opacity: 0.8;
    filter: alpha(opacity=50);
  }

  .new-event-submit-button:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
  }

}
