.session-form-main-container {
  display: flex;
  background: #CCF2F2;
  font-family: arial;

  .session-form-container {
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .greeting-container {
    h1 {
      margin: 20px 10px;
      font-size: 30px;
    }
    h2 {
      margin: 20px 10px;
      font-size: 15px;
    }
  }

}
