.session-form-main-container {
  display: flex;
  background: #CCF2F2;
  font-family: 'Source Sans Pro';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 11% 0px;

    form {
      margin: 4px 0;
      align-content: center;
      justify-content: center;
      flex-direction: column;
    }

    .greeting-container {
      text-align: center;
      h1 {
        text-align: center;
        // margin: 20px 10px;
        font-size: 46px;
        color: #007E90;
        font-weight: bold;
      }
      h2 {
        text-align: center;
        margin: 10px;
        font-size: 20px;
      }
    }

    .session-form-input {
      border: 1px solid black;
      border-radius: 7px;
      text-align: center;
      background: ghostwhite;
      width: 585px;
      height: 43px;
    }

    .session-form-submit-button {
      // border: 2px solid #91999A;
      color: white;
      border-radius: 7px;
      background: #91999A;
      opacity: 0.7;
      filter: alpha(opacity=50);
      padding: 9px 268px;
    }

    .session-form-submit-button:hover {
      opacity: 1.0;
      filter: alpha(opacity=100);
      color: white;
      text-align: center;
    }

    .session-form-navlink {
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      padding: 32px 10px;
      color: #007E90;
    }

    .session-form-navlink > input {
      margin: 5px;
    }

    .session-form-container input {
      margin: 10px;
    }

    .session-form-demo  {
      border-radius: 7px;
      background: #b53d34;
      opacity: 0.7;
      filter: alpha(opacity=50);
      padding: 9px 191px;
      color: white;

    }
    .session-form-demo:hover {
      opacity: 1.0;
      filter: alpha(opacity=100);
      color: white;
      text-align: center;
    }

}
